#alert {
  position: fixed;
  max-width: 400px !important;
  top: 0;
  right: 0;
  text-align: center;
  padding: 20px 50px;
}

body {
  outline: 2px solid #18BC9C;
  outline-offset: -1vw;
  min-height: 100vh;
}

.card {
  max-width: 95%;
}

.logout-link {
  position: absolute;
  top: 10px; 
  right: 15px;
  padding: 10px;
}